@import 'index.scss';

.Gallery {
    margin: 45px 100px;
    list-style-type: none;

    @media (max-width: 425px) {
        margin: 20px;
    }
}

.Card {
    list-style-type: none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 56px 50px;
    background-color: $background;
    border: 25px;
    gap: 50px;
    // z-index: -10;

    @media (max-width: 425px) {
        grid-template-columns: 1fr;
        padding: 0px;
        background-color: transparent;
        gap: 20px;
    }

    &__list {
        position: relative;
        height: 340px;
        border-radius: 10px;

        @media (max-width:425px) {
            height: 255px;
        }

        &--img {
            position: relative;
            width: 100%;
            height: 340px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(70%);            
            // z-index: 10;

            @media (max-width:425px) {
                height: 255px;
            }
        }

        &--title {
            position: absolute;
            bottom: 0;
            padding: 0 20px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            color: white;
        }
    }
}