@import 'index.scss';

.Collapses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin-right:auto;
    margin-left:auto;

    @media(max-width: 425px) {
        width:100%;
    }
}

.collapse {
    width: 100%;

    @media (max-width: 425px) {
        width: 90%;
        margin: 0 20px;
    }


    &__encart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-color;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin: 0;

        @media (max-width: 425px) {
            font-size: 13px;
        }

    }

    &__content {
        background-color: $background;
        padding: 25px 20px;
        font-size: 18px;
        font-weight: 400;
        color: $main-color;
        margin: 0;

        @media (max-width: 425px) {
            font-size: 12px;
        }
    }

    &__icon {
        cursor: pointer;

        @media (max-width: 425px) {
            width: 12px;
        }
    }
}

.ouvert {
    transform: rotate(-180deg);
    transition: all .4s ease-out;
}

.fermer {
    transform: rotate(0deg);
    transition: all .4s ease-out;
}