@import 'index.scss';

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 45px 100px;
    max-width: 1440px;

    @media (max-width:425px) {
        padding: 20px;
        max-width: 375px;
    }

    &__logo {
        width: 15%;

        @media (max-width:425px) {
            width: 20%;
        }
    }

    &__link {
        padding-left: 60px;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        color: $main-color;

        &:focus {
            text-decoration: underline;
        }

        @media (max-width:425px) {
            padding-left: 26px;
            font-size: 12px;
        }
    }
}