@import 'index.scss';

.host-name {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: $main-color;

    @media (max-width:425px){
        font-size: 12px;
        line-height:17px;
    }
}