body {
    margin: 0;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 425px) {
        font-size: 12px;
    }
}

#root {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
}

/* Variables*/
$main-color: #FF6060;
$secondary-color: #000000;
$background: #F6F6F6;